/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding-bottom: 10px;
}

.about .content ul i {
	font-size: 1.25rem;
	margin-right: 4px;
	color: var(--accent-color);
}

.about .content p:last-child {
	margin-bottom: 0;
}

.socinfo {
	font-size: 20px;
}

.about .about-images img {
	border-radius: 10px;
}

.dirmsg {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}

.dirimg {
	height: 30px;
	width: 30px;
}


/*--------------------------------------------------------------
# Director Message Section
--------------------------------------------------------------*/
.dirmsg .dirmsg-item {
	background-color: var(--surface-color);
	box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
	padding: 60px 30px;
	transition: all ease-in-out 0.3s;
	border-radius: 18px;
	border-bottom: 5px solid var(--surface-color);
	height: 100%;
}

.dirmsg .dirmsg-item .icon {
	color: var(--contrast-color);
	background: var(--accent-color);
	margin: 0;
	width: 64px;
	height: 64px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	font-size: 28px;
	transition: ease-in-out 0.3s;
}

.dirmsg .dirmsg-item h3 {
	font-weight: 700;
	margin: 10px 0 15px 0;
	font-size: 22px;
	transition: ease-in-out 0.3s;
}

.dirmsg .dirmsg-item p {
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

@media (min-width: 1365px) {
	.dirmsg .dirmsg-item:hover {
		transform: translateY(-10px);
		border-color: var(--accent-color);
	}

	.dirmsg .dirmsg-item:hover h3 {
		color: var(--accent-color);
	}
}


.click {
	color: red;
	display: flex;
	justify-content: right;
	text-decoration: underline;
}










/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item+.info-item {
	margin-top: 40px;
}

.contact .info-item i {
	color: var(--accent-color);
	background: color-mix(in srgb, var(--accent-color), transparent 92%);
	font-size: 20px;
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	margin-right: 15px;
}

.contact .info-item h3 {
	padding: 0;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 5px;
}

.contact .info-item p {
	padding: 0;
	margin-bottom: 0;
	font-size: 16px;
}

.contact .info-item:hover i {
	background: var(--accent-color);
	color: var(--contrast-color);
}





.logo-slider{
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.logo-track{
  display: flex;
  width: calc(220px * 12);
  animation: scroll 25s linear infinite;
}

/* .partner-item{
  padding: 10px 20px;
  flex: 0 0 auto;
  opacity: .4;
  transition: .4s;
  align-items: center;
  justify-content: center;
  text-align: center;
} */

/* .partner-item:hover{
  opacity:1;
}

.partner-item img{
  max-width:220px;
  display:block;
} */

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

@media(max-width:700px){
.partner-item img{
max-width:150px;
}
}

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  width: calc(220px * 12); /* total logos */
  animation: scroll 25s linear infinite;
}

.group {
  display: flex;
}

.partner-item{
  width:400px;              /* same width for all */
  height:100px;             /* same height */
  padding:20px 30px;
  opacity:.5;
  transition:.3s;

  display:flex;
  align-items:center;
  justify-content:center;
}

.partner-item:hover{
  opacity:1;
  transform:scale(1.05);
}

.partner-item img{
  width:200px;              /* same logo size */
  height:80px;
  object-fit:contain;      /* keeps logo ratio*/
  display:block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width:700px){
  .partner-item img{
    max-width:150px;
  }
}


.about-hero-banner{
padding:100px 0;
background:linear-gradient(135deg,#93296f,#c94fa1);
color:#fff;
}

.about-hero-banner h1{
font-size:42px;
font-weight:700;
margin-bottom:15px;
}

.about-hero-banner p{
font-size:18px;
opacity:.9;
margin-bottom:25px;
}

.hero-btn{
background:#fff;
color:#93296f;
padding:10px 25px;
border-radius:30px;
font-weight:600;
text-decoration:none;
}

.hero-btn:hover{
background:#f2e6f6;
}

.hero-img{
max-height:350px;
}




.stats-section{
padding:80px 0;
background:#faf7ff;
}

.counter-box{
background:#fff;
padding:30px;
border-radius:12px;
box-shadow:0 8px 20px rgba(0,0,0,.1);
transition:.3s;
}

.counter-box:hover{
transform:translateY(-5px);
}

.counter{
font-size:40px;
color:#93296f;
font-weight:700;
}


.directors{
padding:80px 0;
}

.director-card{
text-align:center;
background:#fff;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
transition:.3s;
}

.director-card:hover{
transform:translateY(-8px);
}

.director-card img{
width:120px;
height:120px;
border-radius:50%;
object-fit:cover;
margin-bottom:15px;
}